<div class="main">
  <div class="section section-tabs">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto col-xl-8 mr-auto">
          <h2 class="text-center">What is Nexum?</h2>
          <!-- Tabs with Background on Card -->
          <div class="card">
            <div class="nav-tabs-navigation" data-tabs-color="orange">
              <div class="nav-tabs-wrapper">
                <ngb-tabset [justify]="'center'" class="text-center">
                  <ngb-tab title="Create an Account">
                    <ng-template ngbTabContent>
                      <div class="mt-3 p-3">
                        You can easily create a NEXUM Account<br>
                        <button class="btn btn-primary" ngx-scroll-to [ngx-scroll-to-offset]="-1500">
                          Create Account
                        </button><br>
                        Creating the account allows you to access both customer and seller accounts.
                        You can easily broadcast what you want and publish what you sell.
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Broadcast">
                    <ng-template ngbTabContent>
                      <div class="mt-3 p-3">
                        <p>You can broadcast what you want</p>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Find a Seller">
                    <ng-template ngbTabContent>
                      <div class="mt-3 p-3">
                        <p>As a customer, the sellers will view your broadcasts and reply
                          As a seller, you can view customer broadcasts and reply
                        </p>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Get the Product">
                    <ng-template ngbTabContent>
                      <div class="mt-3 p-3">
                        <p>Contact seller or customer and complete your task</p>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="section section-nucleo-icons">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h2 class="title">Buy What YOU Want!</h2>
          <h5 class="description">
            NEXUM is the easiest and the most effcient way to buy and sell what you want
          </h5>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="icons-container">
            <i class="now-ui-icons ui-1_send"></i>
            <i class="now-ui-icons ui-2_like"></i>
            <i class="now-ui-icons transportation_air-baloon"></i>
            <i class="now-ui-icons text_bold"></i>
            <i class="now-ui-icons tech_headphones"></i>
            <i class="now-ui-icons emoticons_satisfied"></i>
            <i class="now-ui-icons shopping_cart-simple"></i>
            <i class="now-ui-icons objects_spaceship"></i>
            <i class="now-ui-icons media-2_note-03"></i>
            <i class="now-ui-icons ui-2_favourite-28"></i>
            <i class="now-ui-icons design_palette"></i>
            <i class="now-ui-icons clothes_tie-bow"></i>
            <i class="now-ui-icons location_pin"></i>
            <i class="now-ui-icons objects_key-25"></i>
            <i class="now-ui-icons ui-2_like"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col-md-12 col-lg-8">
          <h2 class="title">Quote</h2>
          <h5 class="description">Quote text</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-signup"
    style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 600px;">
    <div class="container">
      <div class="row justify-content-md-center sharing-area text-center">
        <div class="text-center col-md-12 col-lg-8">
          <h3>Stay Connected!</h3>
        </div>
        <div class="text-center col-md-12 col-lg-8">
          <a target="_blank" href="https://www.twitter.com/creativetim"
            class="btn btn-primary btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
            <i class="fab fa-twitter"></i>
          </a>
          <a target="_blank" href="https://www.facebook.com/creativetim"
            class="btn btn-primary btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/"
            class="btn btn-primary btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
            <i class="fab fa-linkedin"></i>
          </a>

        </div>

      </div>
    </div>
  </div>
</div>