<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-8"
        style="background-image: url('assets/img/bg5.jpg') ;">
      </div>
      <div class="container">
        <div class="content-center">
          <div>
            <!--Image-->
            <!-- <div class="photo-container">
              <img src="assets/img/ryan.jpg" alt="">
            </div> -->
            <!--/Image-->
  
            <h2 class="title">Complains Page</h2>
          </div>
          <div class="row justify-content-center">

            <!-- <div class="social-description">
              <a [routerLink]="['/admin/complains']" routerLinkActive="router-link-active"  class="btn btn-primary btn-lg btn-round">View Messages</a>
            </div> -->
            <!-- <div class="social-description">
              <a href="#button" class="btn btn-primary btn-lg btn-round">Site Settings</a>
            </div> -->
          </div>
          <div>
            <div class="social-description">
              
              <!-- <h2>3.8</h2>
                    <p>Rating</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Customer Id</th>
            <th scope="col">Product</th>
            <th scope="col">Complain</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>Complains</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>Complains</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>complains</td>
          </tr>
        </tbody>
      </table>


      
<!-- complain input -->

  <h3>Complain Section</h3>

  <div class="container">
      <div class="col-md-12 content-center">
          <div class="card card-signup card-plain">
              <form class="form" method="" action="" [formGroup]="complainform">
                  <div class="content">

                      <!-- /Email -->
                      <div class="mt-5">
                          <div class="form-group"><label>Complain</label>
                              <input [(ngModel)]="complain" [formGroup]="complainform" formControlName="complain" class="form-control border-input"
                                placeholder="Complain" type="text" (keyup.enter)="makeComplain()">
                              <div class="invalid-feedback">
                                  <div>Required</div>
                              </div>
                          </div>

                      </div>
                      <!-- <div >
                        <input formControlName="firstName">
                      </div -->
                      <!-- /Email -->

                      <!-- Username -->

                      <!-- /Username -->

                      <!-- Password -->

                      <!-- /Password -->

                      <!-- Confirm Password -->

                      <!-- /Confirm Password -->


                  </div>

              </form>
          </div>
      </div>
  </div>

<!--/complain input -->
