<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">

    <!-- Profile Banner -->
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url(assets/img/new/homee1.jpg) ;">
    </div>

    <div class="container">
      <div class="content-center">
        <div class="mt-5">

          <!--Profile Image-->
          <div class="photo-container">
            <img *ngIf="current_user?.profileImage" alt="Thumbnail Image" class="rounded-circle img-raised w-25 p-3"
              (click)="[open(changeProfPic,'' , '')]" src="http://localhost:3000/{{current_user?.profileImage}}">
          </div>
          <div class="photo-container">
            <img *ngIf="!current_user?.profileImage" alt="Thumbnail Image" class="rounded-circle img-raised w-25 p-3"
              (click)="[open(changeProfPic,'' , '')]"
              src="https://avatarsed1.serversdev.getgo.com/2205256774854474505_medium.jpg">
          </div>
          <!--/Profile Image-->

          <h2>{{current_user?.username}}</h2>
        </div>

        <div class="row justify-content-center">
          <div class="social-description">
            <a class="btn btn-primary btn-lg" routerLink="/userprofile/broadcast">Broadcast</a>
          </div>&nbsp;&nbsp;
          <div class="social-description">
            <a class="btn btn-primary btn-lg" routerLink="/userprofile/purchasehistory">Purchase
              History</a>
          </div>&nbsp;&nbsp;
          <div class="social-description">
            <a class="btn btn-primary btn-lg" routerLink="/userprofile/messages">Messages</a>
          </div>&nbsp;
          <div class="social-description">
            <a href="#button" class="btn btn-primary btn-lg" routerLink="/userprofile/bookmarks">Bookmarks</a>
          </div>
        </div>

      </div>
    </div>
  </div>





  <!-- /Broadcast Table -->
  <div class="subscribe-line subscribe-line-transparent" style="background-image: url('assets/img/banner.jpg')">
    <div class="text-center container">

      <div class="row">

        <div class=" col-md-12 col-sm-12">
          <div class="mt-4">
            <h3>My Recent Broadcasts</h3>
          </div>

          <div class="mt-5">
            <div class="container">
              <div class="row">
                <div class="card " style=" width: 65rem;">
                  <div class="col-md-12">
                    <!-- Broadcast Table -->
                    <div class="container">
                      <div class="row">
                        <div class="ml-auto">
                          <a class="btn btn-sm btn-primary btn-sm " routerLink="broadcast/viewmore">View
                            More</a>
                        </div>
                      </div>
                      <form>
                        <table class="table table-striped table-bordered">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">ID</th>
                              <th scope="col" sortable="area" (sort)="onSort($event)">Category</th>
                              <th scope="col" sortable="message" (sort)="onSort($event)">Messages</th>
                              <th scope="col">View Finalizing Forms</th>
                              <th scope="col">Remove</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let x of broadcastArray?.broadcast | slice:0:5">
                              <td>{{x._id | slice:-4}}</td>
                              <td>{{x.category}}</td>
                              <td scope="row">{{x.tags}}</td>
                              <td scope="row">
                                <div class="social-description">
                                  <a href="#button" class="btn btn-primary btn-sm"
                                    routerLink="/userprofile/finalizingformview/{{x._id}}"><i
                                      class="now-ui-icons files_single-copy-04"></i></a>
                                </div>
                              </td>
                              <td scope="row">
                                <div class="social-description">
                                  <a class="btn btn-primary btn-sm" (click)="removeBroadcast(x._id)"><i
                                      class="now-ui-icons ui-1_simple-remove"></i></a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                        </div>
                      </form>
                    </div>
                    <!-- /Broadcast Table -->
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- /Purchase History Table -->
  <div class="subscribe-line subscribe-line-transparent" style="background-image: url('assets/img/banner.jpg')">
    <div class="text-center container">

      <div class="row">

        <div class=" col-md-12 col-sm-12">
          <div class="mt-4">
            <h3>My Recent Purchase History</h3>
          </div>

          <div class="mt-5">
            <div class="container">
              <div class="row">
                <div class="card " style=" width: 65rem;">
                  <div class="col-md-12">
                    <!-- Broadcast Table -->
                    <div class="container">
                      <div class="row">
                        <div class="ml-auto">
                          <a class="btn btn-sm btn-primary btn-sm " routerLink="broadcast/viewmore">View
                            More</a>
                        </div>
                      </div>
                      <form>
                        <table class="table table-striped table-bordered">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">ID</th>
                              <th scope="col" sortable="area" (sort)="onSort($event)">Category</th>
                              <th scope="col" sortable="message" (sort)="onSort($event)">Seller Name</th>
                              <th scope="col">View</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let x of purchaseHistory | slice:0:5">
                              <td>{{x.sellerId| slice:-4}}</td>
                              <td>{{x.category}}</td>
                              <td scope="row">{{x.sellerName}}</td>
                              <td scope="row">
                                <div class="social-description">
                                  <a href="#button" class="btn btn-primary btn-sm"
                                    routerLink="/userprofile/finalizingformview/{{x._id}}">V</a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="d-flex justify-content-between p-2">
                        </div>
                      </form>
                    </div>
                    <!-- /Broadcast Table -->
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>