<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">

    <!-- Profile Banner -->
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url(assets/img/bg5.jpg) ;">
    </div>

    <div class="container">
      <div class="content-center">
        <div class="mt-5">

          <!--Profile Image-->
          <div class="photo-container">
            <img *ngIf="current_user?.profileImage" alt="Thumbnail Image" class="rounded-circle img-raised w-25 p-3"
              (click)="[open(changeProfPic,'' , '')]" src="http://localhost:3000/{{current_user?.profileImage}}">
          </div>
          <div class="photo-container">
            <img *ngIf="!current_user?.profileImage" alt="Thumbnail Image" class="rounded-circle img-raised w-25 p-3"
              (click)="[open(changeProfPic,'' , '')]"
              src="https://avatarsed1.serversdev.getgo.com/2205256774854474505_medium.jpg">
          </div>
          <!--/Profile Image-->

          <h2>{{current_user?.username}}</h2>
        </div>

        <div class="row justify-content-center">
          <div class="social-description">
            <a class="btn btn-primary btn-lg btn-round" routerLink="/userprofile/broadcast">Broadcast</a>
          </div>&nbsp;
          <div class="social-description">
            <a class="btn btn-primary btn-lg btn-round" routerLink="/userprofile/purchasehistory">Purchase
              History</a>
          </div>&nbsp;
          <div class="social-description">
            <a href="#button" class="btn btn-primary btn-lg btn-round" routerLink="/userprofile/bookmarks">Bookmarks</a>
          </div>
        </div>

      </div>
    </div>
  </div>





  <!-- /Broadcast Table -->
  <div class="subscribe-line subscribe-line-transparent" style="background-image: url('assets/img/banner.jpg')">
    <div class="text-center container">

      <div class="row">

        <div class=" col-md-12 col-sm-12">
          <div class="mt-4">
            <h3>My Broadcasts</h3>
          </div>

          <div class="mt-5">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-2">
                  <div class="card text-center" style=" width: 65rem;">
                    <div class="col-md-12">
                      <!-- Broadcast Table -->
                      <div class="container">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="ml-auto">
                              <a class="btn btn-sm btn-primary btn-sm " routerLink="broadcast/viewmore">View
                                More</a>
                            </div>
                          </div>
                          <form>
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">ID</th>
                                  <th scope="col" sortable="area" (sort)="onSort($event)">Product</th>
                                  <th scope="col" sortable="message" (sort)="onSort($event)">Messages</th>
                                  <th scope="col">View Finalizing Forms</th>
                                  <th scope="col">Remove</th>

                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let x of broadcastArray?.broadcast">
                                  <td>{{x._id | slice:-4}}</td>
                                  <td>{{x.product}}</td>
                                  <td scope="row">{{x.tags}}</td>
                                  <td scope="row">
                                    <div class="social-description">
                                      <a href="#button" class="btn btn-primary btn-lg btn-sm"
                                        routerLink="/userprofile/finalizingformview/{{x._id}}">F</a>
                                    </div>
                                  </td>
                                  <td scope="row">
                                    <div class="social-description">
                                      <a class="btn btn-primary btn-lg btn-sm" (click)="removeBroadcast(x._id)"><i
                                          class="now-ui-icons ui-1_simple-remove"></i></a>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="d-flex justify-content-between p-2">
                            </div>
                          </form>
                        </div>
                      </div>
                      <!-- /Broadcast Table -->
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>





    <footer class="footer footer-default">
      <div class="container">
        <nav>
          <ul>
            <li>
              <a href="https://www.creative-tim.com">
                Creative Tim
              </a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/about-us">
                About Us
              </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com">
                Blog
              </a>
            </li>
            <li>
              <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                MIT License
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright">
          &copy;
          {{data | date: 'yyyy'}}, Designed by
          <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
      </div>
    </footer>
  </div>