<div class="App">
  <aside class="sidebar left-sidebar">
    <section *ngIf="currentUser.id" class="room-members">
      <h4>Users</h4>
      <ul class="user-list">
        <li *ngFor="let user of roomUsers">
          <span class="presence {{ user.presence.state }}"></span>
          <span>{{ user.name }}</span>
        </li>
      </ul>
    </section>
  </aside>

  <main class="chat-window">
    <header class="chat-header">
      <section *ngIf="!currentRoom.name ; else defRoomName">
        <h4>Welcome to Nexum Messaging</h4>
      </section>
      <ng-template #defRoomName>
        <section *ngIf="currentRoom.name === 'Testing_Room' ; else printRoomName">
          <h4>Guides</h4>
        </section>
      </ng-template>
      <ng-template #printRoomName>
        <h4>{{ currentRoom.name }}</h4>
      </ng-template>
      <span class="participants"></span>
    </header>
    <section class="chat-session">
      <ul class="message-list">
        <li class="user-message" *ngFor="let message of messages">
          <span class="user-id">{{ message.senderId }}</span>
          <span>{{ message.text }}</span>
        </li>
      </ul>
    </section>
    <section class="chat-session-guides" *ngIf="currentRoom.name === 'Testing_Room'">
      <ol>
        <li>Select the chat by clicking </li>
        <li>Type the message</li>
        <li>Hit enter or click <u>'Send'</u> button</li>
      </ol>  
    </section>
    <footer class="chat-footer" *ngIf="flag === 0">
        <form class="message-form" (ngSubmit)='sendMessage()'>
          <label>
            <input class="message-input" placeholder="Type a message......" type="text" name="message" [(ngModel)]="newMessage" />
          </label>
          <!-- <input type="button" value="send" style="float: right; margin: .5%;" (click)="sendMessage()"> -->
          <button style="float: right; margin: .5%;" (click)="sendMessage()">send</button>
          <!-- <section>
            <input class="message-input" placeholder="Type a message. Hit Enter to send" type="text" name="message" [(ngModel)]="newMessage" />
          <button >send</button> -->
        </form>
      </footer>
  </main>

  <aside class="sidebar right-sidebar">
    <section class="room-section">
      <section *ngIf="currentUser.id" class="user-rooms">
          <h4>Rooms</h4>
          <ul class="room-list">
            <li *ngFor="let room of userRooms">
              <div [class.active]="room.id==currentRoom.id" (click)="connectToRoom(room.id)" class="room" *ngIf="room.isPrivate">
                <span class="room-status" *ngIf="room.isPrivate">🔒</span>
                <span class="room-name">{{ room.name }}</span>
              </div>
            </li>
          </ul>
        </section>
        <!-- <section *ngIf="joinableRooms.length > 0" class="joinable-rooms">
            <h4>Joinable rooms</h4>
            <ul class="room-list">
                <li *ngFor="let room of joinableRooms">
                  <div class="room" (click)="joinRoom(room.id)">
                    <span class="room-status" *ngIf="room.isPrivate; else publicRoom">🔒</span>
                    <ng-template #publicRoom>
                      <span>🌐</span>
                    </ng-template>
                    <span class="room-name">{{ room.name }}</span>
                  </div>
                </li>
              </ul>
        </section> -->
    </section>
  </aside>
</div>