<div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/header.jpg');">
        </div>

        <!--model component-->
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/now-logo.png" alt="">
                <h1 class="h1-seo">Nexum</h1>
                <h3>connect</h3>
                <ngbd-modal-component></ngbd-modal-component>
            </div>
        </div>
        <!--/model component-->
    </div>

    <app-non-registered></app-non-registered>
    <app-homepage></app-homepage>