<app-navbar></app-navbar>
<div class="mt-5"></div>
<div class="wrapper">
  <div class="subscribe-line subscribe-line-transparent" style="background-image: url('assets/img/banner.jpg')">
    <div class="container">
      <div class="row">
        <div class=" col-md-12 col-sm-12">
          <h3></h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Selling -->
  <div class="mt-5">
    <div class="container">

      <div class="row">
        <div class="col-md-2">
          <div class="card bg-dark text-white card-details text-center a">
            <i class=" now-ui-icons emoticons_satisfied"></i>
          </div>
        </div>
        <div class="col-md-10">
          <div class="card bg-dark text-white card-details">
            <div class=" container">
              <div class="row">
                <div class=" col-md-12 col-sm-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" colspan="2" class="text-center">Product Details</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Product Name</th>
                        <td>{{itemDetails?.item[0].product}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Product Id</th>
                        <td>{{itemDetails?.item[0]._id}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Product Category</th>
                        <td>{{itemDetails?.item[0].category}}</td>
                      </tr>
                      <tr>
                        <th scope="row">Product Tags</th>
                        <td>{{itemDetails?.item[0].tags}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card text-center">
            <div class=" col-md-12">
              <!-- Broadcast Table -->
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="container">
                      <div class="row">

                        <div class="">
                          <a class="btn btn-sm btn-primary btn-lg " routerLink="/userprofile/sellerprofile">Back</a>
                        </div>
                      </div>
                    </div>

                    <form>
                      <table class="table table-striped">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Finalize</th>
                            <th scope="col">Remove</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let x of recievedBroadcasts">
                            <ng-template [ngIf]="recievedBroadcasts != 'empty'">
                              <td>{{x.userID}}</td>
                              <a routerLink="/userprofile/search/{{x.username}}">
                                <td>{{x.username}}</td>
                              </a>
                              <td>
                                <div class="social-description">
                                  <a class="btn btn-primary btn-sm"
                                    routerLink="/userprofile/finalizingform/{{itemId}}/{{x.userID}}"><i
                                      class="now-ui-icons ui-1_check"></i></a>
                                </div>
                              </td>
                              <td>
                                <div class="social-description">
                                  <a href="#button" class="btn btn-primary btn-sm"><i
                                      class="now-ui-icons ui-1_simple-remove"></i></a>
                                </div>
                              </td>
                            </ng-template>

                          </tr>
                          <ng-template [ngIf]="recievedBroadcasts == 'empty'">
                            <tr>
                              <td colspan="4">
                                <b>No Broadcasts Available</b>
                              </td>
                            </tr>
                          </ng-template>
                        </tbody>
                      </table>
                    </form>

                  </div>
                </div>
              </div>
              <!-- /Broadcast Table -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>