h3,
h5 {
    color: white
}

.card-details {
    height: 210px
}

.emoticons_satisfied {
    font-size: 50px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20% !important;
}

tr {
    height: 40px;
}