<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/bg5.jpg') ;">
    </div>
    <div class="container">
      <div class="content-center">
        <div>
          <!--Image-->
          <div class="photo-container">
            <img src="assets/img/ryan.jpg" alt="">
          </div>
          <!--/Image-->

          <h3 class="title">Admin Dashboard</h3>
          <p class="category">Description</p>
        </div>

        <div class="row justify-content-center">
          <div class="social-description">
            <a href="#button" class="btn btn-primary btn-lg btn-round">View Messages</a>
          </div>
          <div class="social-description">
            <a href="#button" class="btn btn-primary btn-lg btn-round">Site Settings</a>
          </div>
        </div>
        <div>
          <div class="social-description">
          </div>
        </div>

      </div>
    </div>
  </div>
  
<!-- recent complains -->
  <h3 align="center">Recent Complains</h3> 
  <div class="section" *ngFor="let item of complains | slice :-5" align="center">
    <div class="col-md-50 ml-auto mr-auto">
      <div class="media-area">
        <div >
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">User: Username</h5>
                <p class="card-text"><strong>Complain</strong>
                  {{item.complain}}
                </p>
                <p class="card-text"><strong>Against</strong>
                  {{item.seller}}
                </p>
                <a class="btn btn-danger" (click)="deleteComplain(item._id)">Delete User</a>
                <a *ngIf="item.warningSent==false" class="btn btn-warning" (click)="sendEmail(item.seller);updateCompalin(item._id)" routerLink="/reload">Send Warning</a>
                <!-- <a *ngIf="item.warningSent==false" class="btn btn-warning" (click)="updateCompalin(item._id)">Send Warning</a> -->
                <a *ngIf="item.warningSent==true" type="button" class="btn btn-light" disabled>Warning Sent!</a>
                <a href="" class="btn btn-primary">Delete Complain</a>
              </div>
            </div>
            <span>Warning Sent={{item.warningSent}}</span>
          </div>
        </div>       
      </div>
    </div>
  </div>
<!-- recent Complains -->

  <!-- footerr -->

  <footer class="footer footer-default">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/about-us">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
              MIT License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>