<app-navbar></app-navbar>
<div class="wrapper">
  <div class="filter"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <div class="card text-center" style=" width: 60rem;">
          <h3>Purchase History</h3>
          <div class="col-md-12">
            <div class="row">
            </div>
            <form>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col" sortable="area" (sort)="onSort($event)">Product</th>
                    <th scope="col" sortable="message" (sort)="onSort($event)">Messages</th>
                    <th scope="col">Replies</th>
                    <th scope="col">Remove</th>
                    <th scope="col">Report</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let x of broadcastArray?.broadcast">
                    <td>{{x._id | slice:-4}}</td>
                    <td>{{x.product}}</td>
                    <td scope="row">{{x.tags}}</td>
                    <td scope="row">
                      <div class="social-description">
                        <a href="#button" class="btn btn-primary btn-lg btn-round btn-sm">A</a>
                      </div>
                    </td>
                    <td scope="row">
                      <div class="social-description">
                        <a href="#button" class="btn btn-primary btn-lg btn-round btn-sm"><i
                            class="now-ui-icons ui-1_simple-remove"></i></a>
                      </div>
                    </td>
                    <td>
                      <div class="social-description">
                        <a class="btn btn-primary btn-lg btn-round btn-sm" routerLink="/pages/newcomplain">C</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between p-2">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>