<!--Login-->
<button class="btn btn-primary btn-lg btn-round" (click)="[open(loginpop,'' , '')]">LogIn</button>
<ng-template #loginpop let-c="close" let-d="dismiss">

    <!-- Head -->
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">LogIn</h4>
    </div>
    <br>
    <!-- /Head -->

    <app-login></app-login>
</ng-template>
<!--/Login-->


<!--SignUp-->
&nbsp;
<button class="btn btn-primary btn-lg btn-simple btn-round" (click)="[open(signuppop,'' , '')]">SignUp</button>
<ng-template #signuppop let-c="close" let-d="dismiss">

    <!-- Head -->
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">SignUp</h4>
    </div>
    <br>
    <!-- /Head -->
    <app-signup></app-signup>
</ng-template>
<!--/SignUp-->