<!--Login-->
<button class="btn btn-primary btn-lg btn-round" (click)="[open(loginpop,'' , '')]">LogIn</button>
<ng-template #loginpop let-c="close" let-d="dismiss">

    <!-- Head -->
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">LogIn</h4>
    </div>
    <br>
    <!-- /Head -->

    <div class="container">
        <div class="col-md-12 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="" [formGroup]="loginForm">
                    <div class="form-group">

                        <!-- Email -->
                        <div class="mt-5">
                            <div class="form-group"><label>Email</label>
                                <input [(ngModel)]="email" formControlName="email" class="form-control border-input"
                                    placeholder="email" type="email"
                                    [ngClass]="{'is-invalid':loginForm.get('email').touched && loginForm.get('email').invalid}">
                                <div class="invalid-feedback">
                                    <div>Email is required</div>
                                </div>
                            </div>
                        </div>
                        <!-- /Email -->

                        <!-- Password -->
                        <div class="mt-5">
                            <div class="form-group"><label>Password</label>
                                <input [(ngModel)]="password" formControlName="password"
                                    class="form-control border-input" placeholder="Password" type="password"
                                    [ngClass]="{'is-invalid':loginForm.get('password').touched && loginForm.get('password').invalid}">
                                <div class="invalid-feedback">
                                    <div>Password is required</div>
                                </div>
                            </div>
                        </div>
                        <!-- /Password -->

                        <div class="mt-5">
                            <!-- Buttons -->
                            <div class="text-center">
                                <a class="btn btn-primary btn-round btn-lg btn-block" data-dismiss="modal"
                                    (click)="login()">LogIn</a>
                            </div>
                        </div>
                        <div class="justify-content-center">
                            <div class="mt-5 ">

                                <div class="pull-left">
                                    <h6>
                                        <a href="#pablo" class="link">Create Account</a>
                                    </h6>
                                </div>
                                <div class="pull-right">
                                    <h6>
                                        <a href="#pablo" class="link">Forgot Password?</a>
                                    </h6>
                                </div>
                                <!-- /Button -->
                            </div>

                        </div>


                    </div>

                </form>
            </div>
        </div>
    </div>

</ng-template>

<!--/Login-->



<!--SignUp-->

<button class="btn btn-primary btn-lg btn-simple btn-round" (click)="[open(signuppop,'' , '')]">SignUp</button>
<ng-template #signuppop let-c="close" let-d="dismiss">

    <!-- Head -->
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">SignUp</h4>
    </div>
    <br>
    <!-- /Head -->

    <div class="container">
        <div class="col-md-12 content-center">
            <div class="card card-signup card-plain">
                <form class="form" method="" action="" [formGroup]="signupForm">
                    <div class="content">

                        <!-- /Email -->
                        <div class="mt-5">
                            <div class="form-group"><label>Email</label>
                                <input [(ngModel)]="email" formControlName="email" class="form-control border-input"
                                    placeholder="email" type="email"
                                    [ngClass]="{'is-invalid':signupForm.get('email').touched && signupForm.get('email').invalid}">
                                <div class="invalid-feedback">
                                    <div>Umail is required</div>
                                </div>
                            </div>

                        </div>
                        <!-- /Email -->

                        <!-- Password -->
                        <div class="mt-5">
                            <div class="form-group"><label>Password</label>
                                <input [(ngModel)]="password" formControlName="password"
                                    class="form-control border-input" placeholder="Password" type="password"
                                    [ngClass]="{'is-invalid':signupForm.get('password').touched && signupForm.get('password').invalid}">
                                <div class="invalid-feedback">
                                    <div>Password is required</div>
                                </div>
                            </div>
                        </div>
                        <!-- /Password -->

                        <!-- Confirm Password -->
                        <div class="mt-5">
                            <div class="form-group"><label>Confirm Password</label>
                                <input [(ngModel)]="confirmpassword" formControlName="confirmpassword"
                                    class="form-control border-input" placeholder="Confirmpassword"
                                    type="confirmpassword"
                                    [ngClass]="{'is-invalid':signupForm.get('confirmpassword').touched && signupForm.get('confirmpassword').invalid}">
                                <div class="invalid-feedback">
                                    <div>Please confirm password</div>
                                </div>
                            </div>
                        </div>
                        <!-- /Confirm Password -->

                        <div class="mt-5">
                            <!-- Buttons -->
                            <div class="text-center">
                                <a class="btn btn-primary btn-round btn-lg btn-block" data-dismiss="modal"
                                    (click)="signup()">Signup</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</ng-template>

<!--/SignUp-->