<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7"
      style="background-image: url('assets/img/header.jpg');">
    </div>

    <!--Logo and Name-->
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/now-logo.png" alt="">
        <h1 class="h1-seo">Nexum</h1>

        <form class="form-group" [formGroup]="resetPasswordForm">
          <div class="mail mx-auto col-md-12 mt-5 " style="width: 500px;">
            <div class="mt-4">
              <label>Enter Email</label>
              <input class="form-control" [(ngModel)]="email" formControlName="email"
                placeholder="Enter your email correctly" type="text" value=""
                [ngClass]="{'is-invalid':resetPasswordForm.get('email').touched && resetPasswordForm.get('email').invalid}">
              <div class="invalid-feedback">
                <div>Please enter email</div>
              </div>
            </div>
            <div class="form-group mt-4">
              <label>Enter new password</label>
              <input class="form-control" [(ngModel)]="password" formControlName="password"
                placeholder="Enter your password" type="password" value=""
                [ngClass]="{'is-invalid':resetPasswordForm.get('password').touched && resetPasswordForm.get('password').invalid}">
              <div class="invalid-feedback">
                <div>Please enter password</div>
              </div>
              <div class="invalid-feedback" *ngIf="resetPasswordForm.get('password').errors?.minlength">
                <div>Password should contain atleast 5 characters</div>
              </div>
            </div>
            <div class="form-group mt-4">
              <label>Confirm new password</label>
              <input class="form-control" [(ngModel)]="cpassword" formControlName="cpassword"
                placeholder="Confirm your password" type="password" value=""
                [ngClass]="{'is-invalid':resetPasswordForm.get('cpassword').touched && resetPasswordForm.get('cpassword').invalid}">
              <div class="invalid-feedback">
                <div>Please confirm password</div>
              </div>
            </div>
            <div class="mt-4">
              <button class="btn btn-primary btn-sm btn-round btn-block" type="button" (click)="resetUserAccount()"><i
                  class="now-ui-icons ui-1_send"></i>&nbsp;&nbsp;&nbsp;Confirm</button>
            </div>

          </div>
        </form>
        <p class="invalid-feedback" *ngIf="confirmationError">Please confirm the password correctly</p>
      </div>
    </div>
    <!--/Logo and Name-->
  </div>

  <div class="main">

    <!--Footer-->
    <footer class="footer" data-background-color="black">
      <div class="container">
        <nav>
          <ul>
            <li>
              <a href="https://www.creative-tim.com/about-us">
                About Nexum
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright">
          &copy;
          {{data | date: 'yyyy'}}, Designed by
          <a href="https://www.invisionapp.com" target="_blank">Nexum</a>
        </div>
      </div>
    </footer>

    <!--/Footer-->
  </div>