<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header" style="background-image: url('assets/img/bg5.jpg');">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto mt-5">
          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="now-ui-icons media-2_sound-wave"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Marketing</h5>
              <p class="description">
                We've created the marketing campaign of the website. It was a very interesting
                collaboration.
              </p>
            </div>
          </div>

          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="now-ui-icons media-1_button-pause"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Fully Coded in HTML5</h5>
              <p class="description">
                We've developed the website with HTML5 and CSS3. The client has access to the code using
                GitHub.
              </p>
            </div>

          </div>

          <div class="info info-horizontal">
            <div class="icon icon-info">
              <i class="now-ui-icons users_single-02"></i>
            </div>
            <div class="description">
              <h5 class="info-title">Built Audience</h5>
              <p class="description">
                There is also a Fully Customizable CMS Admin Dashboard for this product.
              </p>
            </div>
          </div>
          <div class="social-description text-center">
            <a class="btn btn-primary btn-lg btn-round" routerLink="/userprofile/sellerprofile">Back</a>
          </div>
        </div>
        <div class="col-md-4 mr-auto mt-5">
          <div class="card" style=" width: 30rem;">
            <div class="mt-2">
              <h3 class="card-title">Selling Form</h3>
            </div>
            <div class="card-body">
              <form class="form-group" [formGroup]="sellingForm">
                <div class="mt-2">
                  <div class="form-group"><label>Product</label>
                    <input [(ngModel)]="product" formControlName="product" class="form-control border-input"
                      placeholder="Enter the product you want" type="text">
                  </div>
                </div>
                <div class="mt-4">
                  <label>Select category</label>
                  <select class="btn btn-round btn-neutral custom-select form-control" [(ngModel)]="category"
                    formControlName="category">
                    <option *ngFor="let item of categories">{{item}}</option>
                  </select>
                </div>

                <div class="mt-3">
                  <div class="content"><label>Product</label>
                    <textarea _ngcontent-c15="" class="form-control" cols="80" rows="2" spellcheck="false"
                      [(ngModel)]="textMessage" formControlName="textMessage">
                                        </textarea>
                  </div>
                </div>

                <div class="footer text-center">
                  <a class="btn btn-primary btn-round btn-lg btn-block" (click)="sendSelling()">Publish</a>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>