<div class="col-md-12">
<div *ngFor="let review of this.reviewlist| slice:1 ;let index= index  " >
    <div class="card card-inner">
        <div class="card-body">
        <div class="card-body col-xs-10 col-md-10">  
<div class="row">
<div class="col-md-2">
  <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid">
   <p class="text-secondary text-center">
     {{datelist[index+1]}}
  
</div>

<div class="col-md-10">
  <div class="clearfix"></div>
  
  
  {{index+1}} {{review}}<br>


<a class="float-right btn btn-outline-primary ml-2" (click)="onLinkClicked(index+1)" > <i class="fa fa-reply"></i> Reply</a>
  
<textarea *ngIf="buttonClicked== index+1" name="{{textarea}}"rows="4" cols="50"[(ngModel)] = "str" ></textarea>
<div class="row">
  <div class="col-12 p-0">
      <button *ngIf="buttonClicked == index+1"  mat-raised-button color="accent" (click)="onSubmit(inputTexts[i])">Submit</button>
  </div>
</div> 
<!-- <br>

   <button (click)="addTextarea()">Add Textarea</button>
<form>
     
        <textarea name="{{textarea}}"rows="4" cols="50"[(ngModel)] = "str" ></textarea>
        
</form> 
  <br><br> -->
</div>

</div>
</div>
</div>
</div>
</div>
  <!-- <li *ngFor="let rating of Ratings"> {{rating[i].review}}</li><br><br> -->
   <!-- {{this.review}}<br> -->
  <!-- <p>
    <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
  </p> -->
   <!-- wenas karanna -->
  
 


</div>
 