<app-navbar></app-navbar>
<div class="wrapper">
<div class="row" style="padding-top: 10%">

<div class="col-md-12">
    <form novalidate [formGroup]="replyForm" (ngSubmit)="submitreplyForm()">
        <div *ngFor="let review of this.reviewlist | slice:1;let index= index  " >
            <div class="card card-inner">
                <div class="card-body">
                <div class="card-body col-xs-10 col-md-10">  
      <div class="row">
        <div class="col-md-2">
          <img src="https://media5.picsearch.com/is?9wf5djaQEBRqbffZVNXpU4Oidhoc3jV5TzqeBHIFQI8&height=228" alt="Avatar" class="avatar" >
           <p class="text-secondary text-center">
              {{datelist[index+1]|dateAgo}}  
          
        </div>

        <div class="col-md-10">
          <div class="clearfix"></div>
        
          
          {{index+1}})   {{review}}<br>
             
        <a class="float-right btn btn-outline-primary ml-2"name="NIC" NIC="index+1"(click)="onLinkClicked(index+1)" > <i class="fa fa-reply"></i> Reply</a>
        <div  *ngIf="buttonClicked == index+1">
        Enter your name :- 
        <br>
        <textarea  formControlName ="name" value="name" rows="1" cols="50" ></textarea>
        <br>
        Enter your reply :- 
        <br>
        <textarea  formControlName ="reply" value="reply" rows="4" cols="50" ></textarea>
         <div class="row">
            <div class="footer text-center">
                <a  class="btn btn-primary btn-round btn-lg btn-block" (click)="sendreply()">Submit </a>
              </div>
            </div>    
        </div> 
        </div>
        

        </div>
        </div>
      </div>
    </div>
     
     <div *ngFor="let time of this.timelist | slice:1;let i = index  " >
      <div *ngIf="index+1 == numlist[i+1]">
          <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md-7" style="margin-left: 100 px"  >
        <div class="card card-inner">
          <div class="card-body">
          <div class="card-body col-xs-10 col-md-10">  
<div class="row">
  <div class="col-md-4">
    <img src="https://media2.picsearch.com/is?4iPVDhEYWF6aUbmZhcDMXxLOzvwhzFuZYej40EfMBH8&height=320" alt="Avatar" class="avatar" >
     <p class="text-secondary text-center">
        {{time | dateAgo}} 
    
  </div>

  <div class="col-md-6">
    <div class="clearfix"></div>
  <h5>  {{namelist[i+1]}}</h5><br>
    
     {{replylist[i+1]}}<br>
      </div>
      </div>
      </div>
          </div>
        </div>
    </div>
    </div>
    </div> 
    </div>       
          
         
    

    </div>
  </form>
  </div>
 </div>
 </div>