<div class="container">
  <div class="col-md-12 content-center">
    <div class="card card-login card-plain">
      <form class="form" method="" action="" [formGroup]="loginForm">
        <div class="form-group">

          <!-- Email -->
          <div class="mt-5">
            <div class="form-group"><label>Email</label>
              <input [(ngModel)]="log_email" formControlName="log_email" class="form-control border-input"
                placeholder="email" type="email"
                [ngClass]="{'is-invalid':loginForm.get('log_email').touched && loginForm.get('log_email').invalid}">
              <div class="invalid-feedback">
                <div>Email is required</div>
              </div>
            </div>
          </div>
          <!-- /Email -->

          <!-- Password -->
          <div class="mt-5">
            <div class="form-group"><label>Password</label>
              <input [(ngModel)]="log_password" formControlName="log_password" class="form-control border-input"
                placeholder="Password" type="password"
                [ngClass]="{'is-invalid':loginForm.get('log_password').touched && loginForm.get('log_password').invalid}">
              <div class="invalid-feedback">
                <div>Password is required</div>
              </div>
            </div>
          </div>
          <!-- /Password -->

          <div class="mt-5">
            <!-- Buttons -->
            <div *ngIf="error">
              <ngb-alert class="alert alert-danger" role="alert">
                <div class="container">
                  <div class="alert-wrapper">
                    <div class="message">
                      <div class="alert-icon"><i class="now-ui-icons ui-1_simple-remove"></i>
                      </div>Invalid username or password
                    </div>
                  </div>
                </div>
              </ngb-alert>
            </div>

            <p>&nbsp;</p>

            <div class="text-center">
              <a class="btn btn-primary btn-lg btn-block" data-dismiss="modal" (click)="login()">LogIn</a>
            </div>
          </div>
          <div class="justify-content-center">
            <div class="mt-2 ">
              <h6>
                <a class="btn btn-link btn-primary" (click)="[d('Cross click')]" routerLink="/recoverAccount">Forgot
                  Password?</a>
              </h6>
              <!-- /Button -->
            </div>

          </div>


        </div>

      </form>
    </div>
  </div>
</div>