<body>   
     <div class="row" style="padding-top: 15%;padding-left: 20%" >
             
        <form novalidate [formGroup]="feedbackForm" (ngSubmit)="submitFeedbackForm()">
            <h2 style="font-style: oblique">Customer feedback Form</h2>
           
            <section class="customer-name">
              <h4>Full Name</h4>
              <hr style="color:blanchedalmond;">
              <input type="text" placeholder="Enter your name here" formControlName="customerName" >
              <div *ngIf="customerNameChanged" class="errors">
                <i>{{customerNameControl.value}}</i> is not a valid name
              </div>
              <div *ngIf="!customerNameChanged && customerNameControl.value && !customerNameControl.errors">
                Welcome {{customerNameControl.value}}
              </div>
              <div *ngIf="customerNameControl.errors" class="errors">
                <div *ngIf="customerNameControl.errors.required">
                  Please enter your name. This is a mandatory field.
                </div>  
                <div *ngIf="customerNameControl.errors.minlength">
                  Please enter atleast {{customerNameControl.errors.minlength.requiredLength}} characters
                </div>  
              </div>
            </section>
            <section class="gender">
              <h4>Gender</h4>
              <hr>
              <ul>
                <li>
                  <input id="genderMale" type="radio" name="gender" value="Male" formControlName="gender">
                  <label for="genderMale">Male</label>
                </li>
                <li>
                  <input id="genderFemale" type="radio" name="gender" value="Female" formControlName="gender">
                  <label for="genderFemale">Female</label>
                </li>
              </ul>
            </section>
            <section class="product-purchased">
              <h4>Product purchased</h4>
              <hr>
              <label>I own a:</label>
              <select formControlName="productPurchased">
                <option value=""></option>
                <option value="Refrigerator">Refrigerator</option>
                <option value="Washing Machine">Washing Machine</option>
                <option Value="tvItem">Telivision</option>
                <option value="Old Washing Machine">Old Washing Machine</option>
              </select> 
            </section>
              
               
               
             
            <section>
              <h4>Any Suggestions?</h4>
              <hr>
              <textarea formControlName="suggestions"></textarea>
            </section>
            <section class="more-feedbacks" formArrayName="morefeedbacks">
              <h4>More feedback?</h4>
              <hr >
              <ul>
                <li *ngFor="let item of morefeedbacksControls.controls; let i = index">
                  <input type="text" formControlName="{{i}}">
                  <button type="button" title="Delete Feedback" (click)="deleteMoreFeedback(i)">Delete</button>
                </li>
              </ul>
              <button type="button" (click)="addMoreFeedback()">Add a Feedback</button>
            </section>
            <div class="stars container">
                <div class="row" >
                  <div class="col-md-10">
                    <section>
                      <h4>Please enter your rating</h4>
                      <div class="row">
                          <div class="col-sm-12">
                              <ul class="list-inline rating-list" 
                                  *ngFor="let star of stars" style="display: inline-block" >
                                    <li (click)="countStar(star)"
                                        [ngClass]="{'selected': ( selectedValue >=star)}">
                                      <i class="fa fa-star"></i>
                                    </li> 
                              </ul>
                          </div>
                        </div>
                    </section>
                  <br>
                  </div>
                </div>
              </div>
            <button type="submit" [disabled]='!feedbackForm.valid'>Submit Feedback</button>
            <button type="button" (click)="clearForm()">Clear Form</button> 
          </form> 
    </div>
  </body> 
         
         
    
      
      