<div class="page-header">

    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">

                <form class="form-group" [formGroup]="broadcastForm">
                    <div class="header header-primary text-center"> </div>
                    <div>
                        <p>Select category</p>
                        <select class="btn btn-round btn-neutral custom-select form-control" [(ngModel)]="category"
                            formControlName="category">
                            <option *ngFor="let item of categories">{{item}}</option>
                        </select>
                    </div>
                    <div class="content">
                        <textarea _ngcontent-c15="" class="form-control" cols="80" rows="4" spellcheck="false"
                            [(ngModel)]="textMessage" formControlName="textMessage">
                        </textarea>
                    </div>

                    <div class="footer text-center">
                        <a class="btn btn-primary btn-round btn-lg btn-block" (click)="getBroadcast()">Broadcast</a>
                    </div>
                </form>


            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>