<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">

    <!-- Profile Banner -->
    <div class="page-header-image rellax-header" data-rellax-speed="-8"
      style="background-image: url('assets/img/bg5.jpg') ;">
    </div>

    <div class="container">
      <div class="content-center">
        <div class="mt-5">
          <!--Profile Image-->
          <div class="photo-container">
            <img *ngIf="current_user?.profileImage" alt="Thumbnail Image" class="rounded-circle img-raised w-25 p-3"
              (click)="[open(changeProfPic,'' , '')]" src="http://localhost:3000/{{current_user?.profileImage}}">
          </div>
          <div class="photo-container">
            <img *ngIf="!current_user?.profileImage" alt="Thumbnail Image" class="rounded-circle img-raised w-25 p-3"
              (click)="[open(changeProfPic,'' , '')]"
              src="https://avatarsed1.serversdev.getgo.com/2205256774854474505_medium.jpg">
          </div>
          <!--/Profile Image-->
          <h2>{{current_user?.username}}</h2>
        </div>
        <div class="row justify-content-center">
          <div class="social-description">
            <a class="btn btn-primary btn-lg" routerLink="/userprofile/selling">Selling</a>
          </div>&nbsp;
          <div class="social-description">
            <a href="#button" class="btn btn-primary btn-lg">Sales History</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="card bg-dark card-details text-white">
            <app-rating></app-rating>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card bg-dark text-white card-details">
            <div class=" container">
              <div class="row">
                <div class=" col-md-12 col-sm-12">
                  ABC
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card bg-dark card-details text-white">
            <div class=" container">
              <div class="row">
                <div class="ml-auto">
                  <div class="col-md-12">
                    <a class="btn btn-sm btn-primary btn-lg " routerLink="/userprofile/moreselling">View
                      More</a> </div>
                </div>
              </div>
              <app-reviews></app-reviews>
            </div>
          </div>
        </div>
      </div>
    </div>






    <div class="subscribe-line subscribe-line-transparent" style="background-image: url('assets/img/banner.jpg')">
      <div class="text-center container">

        <div class="row">
          <div class=" col-md-12 col-sm-12">
            <div class="mt-4">
              <h3>My Selling</h3>
            </div>

            <div class="mt-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-sm-2">
                    <div class="card text-center" style=" width: 70rem;">
                      <div class="col-md-12">
                        <!-- Broadcast Table -->
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="container">
                                <div class="row">
                                  <h3>Selling</h3>
                                  <div class="ml-auto">
                                    <a class="btn btn-sm btn-primary btn-lg " routerLink="/userprofile/moreselling">View
                                      More</a> </div>
                                </div>
                              </div>
                              <form>
                                <table class="table table-striped table-hover">
                                  <thead class="thead-dark">

                                    <tr>
                                      <th scope="col">Number</th>
                                      <th scope="col" sortable="name" (sort)="onSort($event)">Category</th>
                                      <th scope="col" sortable="area" (sort)="onSort($event)">Message</th>
                                      <th scope="col">View Broadcasts</th>
                                      <th scope="col">Remove</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let x of sellingArray?.selling.slice(0,5)">
                                      <td>{{x._id | slice:-4}}</td>
                                      <a routerLink="/userprofile/sellingitem/{{x._id}}">
                                        <td>{{x.category}}</td>
                                      </a>
                                      <td scope="row">{{x.tags}}</td>
                                      <td scope="row">
                                        <div class="social-description">
                                          <a class="btn btn-primary btn-sm  btn-sm"
                                            routerLink="/userprofile/sellingitem/{{x._id}}"><i
                                              class="now-ui-icons location_world"></i></a>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="social-description">
                                          <a class="btn btn-primary btn-lg  btn-sm" (click)="removeSelling(x._id)"><i
                                              class="now-ui-icons ui-1_simple-remove"></i></a>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </form>

                            </div>
                          </div>
                        </div>
                        <!-- /Broadcast Table -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- Selling -->
            <div class="mt-5">
              <div class="container">
                <div class="row">
                  <div class="col-md-3 col-sm-2">
                    <div class="card text-center" style=" width: 70rem;">
                      <div class="col-md-12">
                        <!-- Broadcast Table -->
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="container">
                                <div class="row">

                                  <div class="ml-auto">
                                    <a class="btn btn-sm btn-primary btn-lg btn-round"
                                      routerLink="/userprofile/broadcast">View
                                      More</a>
                                  </div>
                                </div>
                              </div>

                              <form>
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th scope="col">ID</th>
                                      <th scope="col" sortable="name" (sort)="onSort($event)">Username</th>
                                      <th scope="col" sortable="area" (sort)="onSort($event)">Product</th>
                                      <th scope="col" sortable="message" (sort)="onSort($event)">Category
                                      </th>
                                      <th scope="col" sortable="message" (sort)="onSort($event)">Messages
                                      </th>
                                      <th scope="col" sortable="message" (sort)="onSort($event)">Reply</th>
                                      <th scope="col">View User</th>
                                      <th scope="col">Finalize</th>
                                      <th scope="col">Remove</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let x of recievedBroadcasts">
                                      <td>{{x[0].userID}}</td>
                                      <td>{{x[0].username}}</td>
                                      <td scope="row">aaa</td>
                                      <td scope="row">
                                        aaa
                                      </td>
                                      <td scope="row">
                                        aaa
                                      </td>
                                      <td>
                                        <div class="social-description">
                                          <a class="btn btn-primary btn-lg btn-round btn-sm"
                                            routerLink="/userprofile/sellerreplyform/{{x._id}}">R</a>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="social-description">
                                          <a class="btn btn-primary btn-lg btn-round btn-sm"
                                            routerLink="/pages/newcomplain">U</a>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="social-description">
                                          <a class="btn btn-primary btn-lg btn-round btn-sm"
                                            routerLink="/userprofile/finalizingform/{{x._id}}">F</a>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="social-description">
                                          <a href="#button" class="btn btn-primary btn-lg btn-round btn-sm"><i
                                              class="now-ui-icons ui-1_simple-remove"></i></a>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </form>

                            </div>
                          </div>
                        </div>
                        <!-- /Broadcast Table -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <div class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-2">
            <div class="card text-center" style=" width: 70rem;">
              <div class="col-md-12">
                <!-- Broadcast Table -->
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="container">
                        <div class="row">
                          <h3>Selling</h3>
                          <div class="ml-auto">
                            <a class="btn btn-sm btn-primary btn-lg btn-round" routerLink="/userprofile/broadcast">View
                              More</a>
                          </div>
                        </div>
                      </div>
                      <form>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Number</th>
                              <th scope="col" sortable="name" (sort)="onSort($event)">Shop Name</th>
                              <th scope="col" sortable="area" (sort)="onSort($event)">Product</th>
                              <th scope="col" sortable="message" (sort)="onSort($event)">Messages</th>
                              <th scope="col">Finalize</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let x of sellingArray?.selling.slice(0,5)">
                              <td>{{x._id | slice:-4}}</td>
                              <td>{{x.product}}</td>
                              <td scope="row">{{x.tags}}</td>
                              <td scope="row">
                                <div class="social-description">
                                  <a href="#button" class="btn btn-primary btn-lg btn-round btn-sm"
                                    routerLink="/userprofile/sellerreply">A</a>
                                </div>
                              </td>
                              <td scope="row">
                                <div class="social-description">
                                  <a href="#button" class="btn btn-primary btn-lg btn-round btn-sm"><i
                                      class="now-ui-icons ui-1_simple-remove"></i></a>
                                </div>
                              </td>
                              <td>
                                <div class="social-description">
                                  <a class="btn btn-primary btn-lg btn-round btn-sm"
                                    routerLink="/pages/newcomplain">C</a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </form>

                    </div>
                  </div>
                </div>
                <!-- /Broadcast Table -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-2">
            <div class="card text-center" style=" width: 70rem;">
              <div class="col-md-12">
                <!-- Broadcast Table -->
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="container">
                        <div class="row">
                          <h3>Recent Sales</h3>
                          <div class="ml-auto">
                            <a class="btn btn-sm btn-primary btn-lg btn-round" routerLink="/userprofile/broadcast">View
                              More</a>
                          </div>
                        </div>
                      </div>
                      <form>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Number</th>
                              <th scope="col" sortable="name" (sort)="onSort($event)">Shop Name</th>
                              <th scope="col" sortable="area" (sort)="onSort($event)">Product</th>
                              <th scope="col" sortable="message" (sort)="onSort($event)">Messages</th>
                              <th scope="col">Finalize</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td scope="row">BC</td>
                              <td scope="row">BC</td>
                              <td scope="row">BC</td>
                              <td scope="row">BC</td>
                              <td scope="row">BC</td>
                              <td scope="row"> <a class="btn btn-primary btn-lg btn-round"
                                  routerLink="/userprofile/ratingform">finalize</a> </td>
                            </tr>
                          </tbody>
                        </table>
                      </form>

                    </div>
                  </div>
                </div>
                <!-- /Broadcast Table -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>