<div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
            </div>
            <div class="container">
                <div class="content-center">
                  <div>
                    <!--Image-->
                    <div class="photo-container">
                        <img src="assets/img/ryan.jpg" alt="">
                    </div>
                    <!--/Image-->
      
                    <h3 class="title">Seller Name</h3>
                    <p class="category">Description</p>
                  </div>
                  
                  <div class="row justify-content-center">
                        <div class="social-description">
                              <a href="#button" class="btn btn-primary btn-lg btn-round">View Messages</a>
                        </div>
                        <div class="social-description">
                              <a href="#button" class="btn btn-primary btn-lg btn-round">Sales History</a>
                        </div>
                  </div>
                  <div>
                    <div class="social-description">
                        <h2>3.8</h2>
                        <p>Rating</p>
                  </div>
                  </div>
                  
                </div>
            </div>
        </div>
      
      
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <!--<form>
                                    <div class="form-group form-inline">
                                        Search <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
                                        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
                                    </div>
                    
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Number</th>
                                                <th scope="col" sortable="name" (sort)="onSort($event)">Customer Name</th>
                                                <th scope="col" sortable="area" (sort)="onSort($event)">Product</th>
                                                <th scope="col" sortable="message" (sort)="onSort($event)">Messages</th>
                                                <th scope="col">Finalize</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let country of countries$ | async">
                                            <th scope="row">{{ country.id }}</th>
                                                <td>
                                                    <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
                                                    <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
                                                </td>
                                            <td><ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight></td>
                                            <td><ngb-highlight [result]="country.population | number" [term]="service.searchTerm"></ngb-highlight></td>
                                        </tr>
                                        </tbody>
                                    </table>
                    
                                    <div class="d-flex justify-content-between p-2">
                                        <ngb-pagination
                                        [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                                        </ngb-pagination>
                    
                                        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                                        <option [ngValue]="2">2 items per page</option>
                                        <option [ngValue]="4">4 items per page</option>
                                        <option [ngValue]="6">6 items per page</option>
                                        </select>
                                    </div>
                    
                                    </form>-->
        
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="col">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="media-area">
                        <h3>Reviews</h3>
                        <div class="media">
                                <a class="pull-left" href="">
                                    <div class="">
                                        <img class="media-object rounded-circle img-raised avatar col-sm-4" src="assets/img/ryan.jpg">
                                    </div>
                                </a>
                                <h4 class="media-heading pull-left">Name</h4>
                                
                                    
                                    <div class="pull-right">
                                        <h6 class="text-muted">Date</h6>
                                        <a class="btn btn-info btn-link pull-right" href="">
                                            <i class="fa fa-reply"></i>Reply
                                        </a>
                                    </div>
                                
                                <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.
                                        Don't forget, You're Awesome!</p>
                                <div class="media-footer">
                                    <a class="btn btn-danger btn-link" href="">
                                        <i aria-hidden="true" class="fa fa-thumbs-up"></i>25
                                    </a>
                                    <a class="btn btn-link" href="">
                                            <i aria-hidden="true" class="fa fa-thumbs-down"></i>9
                                    </a>
                                </div>
                            
                                <div class="media media-post">
                                    <a class="pull-left author" href="">
                                            <div class="avatar col-sm-4">
                                                    <img class="media-object rounded-circle img-raised" src="assets/img/ryan.jpg">
                                            </div>
                                    </a>
                                    <div class="media-body">
                                        <textarea class="form-control" placeholder="Reply" rows="4"></textarea>
                                        <div class="media-footer">
                                            <a class="btn btn-info pull-right" href="">Relpy</a>
                                        </div>
                                    </div>
                                </div>
                            
                            </div>
                </div>
            </div>
        </div>

        </div>

        <div class="section">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="media-area">
                        <h3>Reviews</h3>
                        <div class="media">
                            <div class="avatar col-sm-1">
                                <img class="media-object rounded-circle img-raised" src="assets/img/ryan.jpg"><h4>Name</h4>
                            </div>
                        </div>
                        <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.
                                Don't forget, You're Awesome!</p>
                </div>
            </div>
        </div>
        
        <footer class="footer footer-default">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="https://www.creative-tim.com/about-us">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                                MIT License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by
                    <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                </div>
            </div>
        </footer>
      </div>
      